@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.background,
body {
  background-image: url(../assets/background.jpg);
  background-size: auto;
}

.vidro {
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.sombra {
  background-image: url(../assets/sombra.png);
  opacity: 0.7;
}

.transition-plate {
  transition: 2s ease;
}

.animation-desaparecer {
  animation: fade-out 1s linear forwards;
}

.animation-aparecer {
  animation: fade-in 1s linear forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.buttons {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.input {
  border: 2px solid #6c6c6c;
}

.input:focus {
  outline-color: #00630f;
}

.input:hover {
  border: 2px solid #8DA68A;
}

.image-eye {
  background-image: url(../assets/icons/eye.png);
}
.image-eye-slash {
  background-image: url(../assets/icons/eye-slash.png);
}